html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: white;
}

body {
    background: #eff0f0;
}

div.details {
    margin-bottom: 5px;
}

div.node-content {
    font-family: Nazli;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 20px;
}

h2 {
    color: black;
    font-family: Nazli;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

li.details {
    border-left: 1px solid #fff;
    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;
}

ul.details {
    background-color: #919595;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    color: #fff;
    display: inline;
    font-family: Nazli;
    font-size: 14px;
    list-style-type: none;    
    margin-bottom: 5px;
}

#content {
    overflow: hidden;
    padding-left: 10px;
    padding-right: 10px;
}

#page {
    margin: auto;
    margin-top: 200px;
    width: 900px;
    
}

#sidebar-first {
    float: left;
    overflow: hidden;
    width: 200px;
}