html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

a {
    color: black;
    text-decoration: none;
}

a.details {
    color: white;
    text-decoration: none;
}

article.node-content {
    font-size: 1.000em;
    margin-top: 10px;
    margin-bottom: 20px;
}

aside#sidebar-first {
    float: right;
    overflow: hidden;
    width: 200px;
}

body {
    background: #eff0f0;
    font: normal normal normal Georgia, Times, "Times New Roman", serif;
}

div.details {
    margin-bottom: 5px;
}

h2 {
    color: black;
    font-size: 1.125em;
    font-weight: bold;
    margin-bottom: 10px;
}

header#header {
    height: 200px;
    width: 900px;
}

li.details {
    border-left: 1px solid #eff0f0;
    color: white;
    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;
}

span.details:hover {
    background-color: #38a2b6;
    color: white;
}

section#main {
    margin: auto;
    width: 900px;
    
}

section#content {
    overflow: hidden;
    padding-right: 10px;
}

ul.details {
    background-color: #919595;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    color: white;
    display: inline;
    font-size: 0.875em;
    list-style-type: none;
}
